.order {
  padding: 87px 0;
  background-color: var(--accent-color);
  background-image: url("/img/procents.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__left {
    grid-column: 5 span;
    padding-left: 60px;
    padding-top: 60px;
  }
  &__right {
    display: flex;
    grid-column: 7 span;
    justify-content: flex-end;
  }
  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--light-color);
  }
  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--light-color);
  }
  &__form {
    max-width: 500px;
  }
}
