<header class="header section-offset">
  <div class="container-fluid header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/svg/logo.svg" class="image" width="228" height="48" alt="Логотип RoboSchool">
    </a>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll>О школе</a></li>
        <li class="nav__item"><a href="#trainers" class="nav__link" data-scroll>Тренеры</a></li>
        <li class="nav__item"><a href="#cost" class="nav__link" data-scroll>Стоимость</a></li>
      </ul>
    </nav>
    <a href="tel: +7(800)1232323" class="phone">+7(800)1232525</a>
  </div>
</header>
